swagger: '2.0'
info:
  title: Download API
  description: Resource Watch - Download API
  version: 1.0.0
host: 'api.resourcewatch.org:81'
schemes:
  - http
produces:
  - application/json
paths:
  '/download/{id}':
    get:
      description: >-
        Download Atachment file in specified format
      produces:
        - application/json
      tags:
        - DOWNLOAD
      parameters:
        - name: id
          in: path
          description: ID of dataset to do query
          required: true
          type: string
        - name: sql
          in: query
          description: >-
            SQL query - Only support SELECT, WHERE, ORDER BY, GROUP BY, LIMIT,
            AS, aggregate functions (count, sum, min, max, avg, stddev, var)
          required: false
          type: string
        - name: tableName
          in: query
          description: Name of the table
          required: false
          type: string
        - name: outFields
          in: query
          description: 'Select param of the feature service (example ''COL1,COL2 AS COL'')'
          required: false
          type: string
        - name: where
          in: query
          description: >-
            Where param of the feature service (example 'COL1 = \'juan\' and
            COL2=2')
          required: false
          type: string
        - name: outStatistics
          in: query
          description: >-
            outStatistics param of the feature service (example
            '[{"statisticType":"count","onStatisticField":"FIELD","outStatisticFieldName":"OUTFIELD"}]')
          required: false
          type: string
        - name: groupByFieldsForStatistics
          in: query
          description: >-
            groupByFieldsForStatistics param of the feature service (example
            'COL2')
          required: false
          type: string
        - name: resultRecordCount
          in: query
          description: resultRecordCount param of the feature service (example 10)
          required: false
          type: number
        - name: orderByFields
          in: query
          description: >-
            orderByFields param of the feature service (example 'COL1 ASC,COL2
            DESC')
          required: false
          type: string
        - name: limit
          in: query
          description: limit results list (example 10)
          required: false
          type: integer
        - name: format
          in: query
          description: Format download (default csv). Supported formats [csv, json]
          required: false
          type: string
      responses:
        '200':
          description: Dataset obtained
        '400':
          description: Params not found or format not supported
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Dataset not found
          schema:
            $ref: '#/definitions/Error'
        '500':
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/Error'

definitions:

  Error:
    type: object
    properties:
      status:
        type: string
        description: >-
          The HTTP status code applicable to this problem, expressed as a string
          value
      error:
        type: string
        description: 'An application-specific error code, expressed as a string value'
      exception:
        type: string
        description: >-
          A short, human-readable summary of the problem that SHOULD NOT change
          from occurrence to occurrence of the problem, except for purposes of
          localization.
      traces:
        type: string
        description: >-
          A human-readable explanation specific to this occurrence of the
          problem. Like title, this field's value can be localized
